body {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-bottom: 0;
}

.bg-escom {
  background-color: #2196f3;
}

.bg-wave {
  background-image: url(./img/wave.svg);
  width: 100%;
  min-height: calc(100vh - 109px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-temario {
  background-image: url(./img/bg-temario.svg);
  width: 100%;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} 

.bg-unidad {
  background-image: url(./img/bg-unidad.svg);
  width: 100%;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} 

.monitor {
  width: 200px;
  height: 200px;
}

/* Sección para los iconos del footer */
.social-icono {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 4px;
}

.social-icono i {
  font-size: 20px;
}

/* Sección para el temario */
.regillaTemario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.t1 {
  background: rgb(1, 66, 104);
  background: linear-gradient(
    90deg,
    rgba(1, 66, 104, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Seccion para las unidades */
.desplegable {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 15px;
  color: #0d6efd;
  justify-content: center;
  align-items: center;

}

.desplegable:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}

.title-temario {
  text-align: left;
}